body, html {
	height: 100%;
	margin: 0;
}

.content {
	background-attachment: fixed;
	background-position: 100% 0;
	background-repeat: no-repeat;
	height: 800px;
	position: relative;
}

h2 {
	margin: 0;
	padding: 20px 0 0 20px;
	text-align: left;
	font-weight: normal;
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}

#slide-1 {
	background-image:url('https://images.unsplash.com/photo-1456318019777-ccdc4d5b2396?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=492cfe578dbef84edfd66c0dc536ffde');
  background-size: cover;
}

#slide-2, #slide-6 {
	background: #969fa4;
	height: 100px
}

#slide-3 {
	background-image:url('https://images.unsplash.com/photo-1454047637795-79e3325dfa0e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=8e20ceb0363ab9c8148ab76ce5979f2d');
  background-size: cover;
}

#slide-4 {
	background: #969fa4;
	height: 100px
}

#slide-5 {
 background-image:url('https://images.unsplash.com/photo-1422157245273-e08b638b4b00?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=fa44b326fa5476c4bfc3572d4d9820bf');
 background-size: cover;
}
#slide-7 {
 background-image:url('https://images.unsplash.com/reserve/5XnnEP61Rg2ArPQNcQj0_DSCF1787.jpg?crop=entropy&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375');
 background-size: cover;
}
